<p id="notice"><%= notice %></p>

<p><%= link_to(t('.document_imports'), :document_imports) %></p>
<p><%= link_to(t('.document_exports'), :document_exports) %></p>
<p><%= link_to(t('.documents'), :documents) %></p>

